<header class="hero-search-filter">
  <div class="hero-search-filter-content">
    <img class="hero-search-filter-logo" src="http://placehold.it/160x80" alt="" />
    <form class="hero-search-filter-form" action="">
      <label for="findtext">Find</label>
      <input id="findtext" class="hero-search-filter-form-find" type="text" />
      <div class="divider">&nbsp;</div>
      <label for="findlocate">Near</label>
      <input id="findlocate" class="hero-search-filter-form-near" type="text" />
      <button class="button"><i class="fa fa-search"></i></button>
    </form>
    <ul class="hero-search-filter-menu menu align-center">
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Restaurants</a></li>
      <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i> Nightlife</a></li>
      <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Home Services</a></li>
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Delivery</a></li>
    </ul>
  </div>
</header>

<h1>List of warefalls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Locality</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Angel Falls		Venezuela</td>
      <td>979 metres (3,212 ft)</td>
      <td>Canaima National Park, Bolívar</td>
      <td>Venezuela</td>
      <td>The falls are along a fork of the Rio Kerepacupai Meru which flows into the Churn River, a tributary of the Carrao River, itself a tributary of the Orinoco River.</td>
      <td><a href="/list_of_waterfalls/1">Show</a></td>
      <td><a href="/list_of_waterfalls/1/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" data-method="delete" href="/list_of_waterfalls/1" rel="nofollow">Destroy</a></td>
    </tr>
    <tr>
      <td>Tugela Falls			</td>
      <td>948 meters (3,110 ft)</td>
      <td>KwaZulu-Natal</td>
      <td>South Africa</td>
      <td>The source of the Tugela River (Zulu for &#39;sudden&#39;) is the Mont-Aux-Sources plateau which extends several kilometers beyond The Amphitheater escarpment from which the falls drop.</td>
      <td><a href="/list_of_waterfalls/2">Show</a></td>
      <td><a href="/list_of_waterfalls/2/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" data-method="delete" href="/list_of_waterfalls/2" rel="nofollow">Destroy</a></td>
    </tr>
    <tr>
      <td>Tres Hermanas Falls		</td>
      <td>914 metres (2,999 ft)</td>
      <td>Otishi National Park, Junin</td>
      <td>Peru</td>
      <td>Tres Hermanas is a tiered waterfall, with three drops or sections. Its is located within a wet montane forest.</td>
      <td><a href="/list_of_waterfalls/3">Show</a></td>
      <td><a href="/list_of_waterfalls/3/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" data-method="delete" href="/list_of_waterfalls/3" rel="nofollow">Destroy</a></td>
    </tr>
    <tr>
      <td>Olo&#39;upena Falls		</td>
      <td>900 metres (2,953 ft)</td>
      <td>Molokai, Hawaii	</td>
      <td>United States</td>
      <td>The falls occur where a short, seasonal stream spills over the edge of one of the tallest sea-side cliffs of the world, located between the Pelekunu and Wailau valleys. </td>
      <td><a href="/list_of_waterfalls/4">Show</a></td>
      <td><a href="/list_of_waterfalls/4/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" data-method="delete" href="/list_of_waterfalls/4" rel="nofollow">Destroy</a></td>
    </tr>
    <tr>
      <td>Vinnufossen			</td>
      <td>860 meters (2,822 ft)</td>
      <td>Møre og Romsdal</td>
      <td>Norway</td>
      <td>The falls are part of the river Vinnu which flows down from the Vinnufjellet mountain and it is fed from the Vinnufonna glacier. The falls flow into the river Driva near the village of Hoelsand.</td>
      <td><a href="/list_of_waterfalls/5">Show</a></td>
      <td><a href="/list_of_waterfalls/5/edit">Edit</a></td>
      <td><a data-confirm="Are you sure?" data-method="delete" href="/list_of_waterfalls/5" rel="nofollow">Destroy</a></td>
    </tr>
  </tbody>
</table>

<br>

<a href="/list_of_waterfalls/new">New List of waterfall</a>
